*,
*::before,
*::after{
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

body{
    padding: 0px;
    margin:0px;
    background: linear-gradient(-45deg,#4D6AFF, #FFB966, #9759FF);
    color:#F5F5F5;
    font-family:"Oxygen", sans-serif;
    transition: all 0.35s;
}

a {
    text-decoration: none;
  }
  
.cima{
    top:0px;
    background-color:transparent;
    text-align: right;
    position: fixed;
    width: 100%;
}


#nadachi{
    float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    padding: 15px;
    font-size:20px;
}


li a{
    color:#F5F5F5;
    text-decoration: none;
}

.nav-bar{
    display: inline-block;
    color:#fff;
    text-decoration: none;
}

.nav-bar::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#fff;
}

.nav-bar:hover::after{
    width: 100%;
    transition: width .3s;
}

.home{
    text-align: center;
    margin: auto;
    height: 100vh;
    padding-top: 200px;

}

.botao{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;

}

.redes a{
    text-decoration:none;
    font-size: 48px;
    text-align: center;
    color:white;
}


#face:hover{
    transition: all 0.35s;
    color:#3b5998;
}


#twitter:hover{
    transition: all 0.35s;
    color:#1DA1F2;

}

#git:hover{
    transition: all 0.35s;
    color:#24292e;
}

#linke:hover{
    transition: all 0.35s;
    color:#0e76a8;
}

.bottom-bar{
    background:#333a56;
    font-size: 0.75em;
    text-align: center;
    padding:15px;

}

#foto{
    width:160px;
    height:180px;
    display:block;
    border-image-repeat: stretch;
    margin-left:auto;
    margin-right:auto;
    padding-top: 30px;
}

.titulo{
    font-size: 30px;
    text-align:center;
    font-weight: bold;
}

.texto{
    text-align: center;
}

span{
    font-weight: 600;
    color:white;
}

#tcc{
    width:960px;
    height:540px;
    display:block;
    border-image-repeat: stretch;
    margin-left:auto;
    margin-right:auto;
}

.skills{
    text-align: center;
    list-style-type: none;
}

img{
    width: 100%;
}

.row-halves{
    display:-webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    -webkit-flex-pack:justify;
}

.row-halves .col{
    width:45%;
}

.col{
    border:1px solid #222;
    background:#222;
    color:#b2b2b2;
    padding:10px;
    margin-right: 20px;
    margin-left: 20px;

}

#ways{
    padding-top: 135px;
}

form input[type="text"],
select,
textarea{
    width:100%;
    padding:12px;
    border: none;
    border: 1px solid #222;
    background: transparent;
    margin-top:6px;
    margin-bottom:16px;
    resize: vertical;
    color:#b2b2b2;
}

form input [type="text"]:focus,
textarea:focus{
    outline: none;
}

input[type="submit"]{
    background-color: transparent;
    color:#b2b2b2;
    text-transform: uppercase;
    padding: 12px 20px;
    border:1px solid #222;
    cursor: pointer;
    transition: all 0.35s;

}

input[type="submit"]:hover{
    background-color: #b2b2b2;
    color:#222;

}

.contatos .container{
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background: transparent;
    padding: 20px 0;
}
