body{
    background-color:#2B5899;
    height: max-content;
    font-family:Cambria;
    font-size:13px;
    margin:0;
}
nav {
    display: inline-block;
    padding: 5px 10px;
    list-style-type: none;
    font-size:20px;
}
li{
    float: left;
    padding:15px;
}
li.projeto{
    text-align: right;
    padding: 15px;
}
li a{
    display: inline-block;
    text-align: center;
    color:black;
    text-decoration: none;
    text-align: center;
}
footer{
    text-align:center;
}
