*,
*::before,
*::after{
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin:0px;
    background: black;
    color:#F5F5F5;
    font-family:"Oxygen", sans-serif;
    transition: all 0.35s;
}

a {
    text-decoration: none;
}
  
.cima{
    top:0px;
    background-color:transparent;
    text-align: right;
    position: fixed;
    width: 100%;
    transition: .5s;
}


#nadachi{
    float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    padding: 15px;
    font-size:20px;
}


li a{
    color:#F5F5F5;
    text-decoration: none;
}

.nav-bar{
    display: inline-block;
    color:#fff;
    text-decoration: none;
}

.nav-bar::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#fff;
}

.nav-bar:hover::after{
    width: 100%;
    transition: width .3s;
}

.home{
    text-align: center;
    margin: auto;
    height: 100vh;
    padding-top: 200px;

}

.botao {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color:#03e9f4;
    letter-spacing: 4px;
    position: absolute;
    top: 75%;
    left: 50%;
    overflow: hidden;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}


.botao:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.espaco{
    position: absolute;
    display: block;
}

.espaco:nth-child(1){
    top:0;
    left:0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1{
    0%{
        left:-100%;
    }
    50%,100%{
        left:100%;
    }
}

.espaco:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2{
    0%{
        top:-100%;
    }
    50%,100%{
        top:100%;
    }
}

.espaco:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3{
    0%{
        right:-100%;
    }
    50%,100%{
        right:100%;
    }
}

.espaco:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4{
    0%{
        bottom:-100%;
    }
    50%,100%{
        bottom:100%;
    }
}

.redes a{
    text-decoration:none;
    font-size: 48px;
    text-align: center;
    color:white;
}


#face:hover{
    transition: all 0.35s;
    color:#3b5998;
}


#twitter:hover{
    transition: all 0.35s;
    color:#1DA1F2;

}

#git:hover{
    transition: all 0.35s;
    color:#24292e;
}

#linke:hover{
    transition: all 0.35s;
    color:#0e76a8;
}
.bottom-bar{
    background:#333a56;
    font-size: 0.75em;
    text-align: center;
    padding:15px;

}

#foto{
    width:160px;
    height:180px;
    display:block;
    border-image-repeat: stretch;
    margin-left:auto;
    margin-right:auto;
    padding-top: 30px;
}

.titulo{
    font-size: 30px;
    text-align:center;
    font-weight: bold;
}

.texto{
    text-align: center;
}

span{
    font-weight: 600;
    color:white;
}

#tcc{
    width:960px;
    height:540px;
    display:block;
    border-image-repeat: stretch;
    margin-left:auto;
    margin-right:auto;
}

.skills{
    text-align: center;
    list-style-type: none;
}

img{
    width: 100%;
}

.row-halves{
    display:-webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    -webkit-flex-pack:justify;
}

.row-halves .col{
    width:45%;
}

.col{
    border:1px solid #222;
    background:#222;
    color:#b2b2b2;
    padding:10px;
    margin-right: 20px;
    margin-left: 20px;

}

#ways{
    padding-top: 135px;
}

form input[type="text"],
select,
textarea{
    width:100%;
    padding:12px;
    border: none;
    border: 1px solid #222;
    background: transparent;
    margin-top:6px;
    margin-bottom:16px;
    resize: vertical;
    color:#b2b2b2;
}

form input [type="text"]:focus,
textarea:focus{
    outline: none;
}

input[type="submit"]{
    background-color: transparent;
    color:#b2b2b2;
    text-transform: uppercase;
    padding: 12px 20px;
    border:1px solid #222;
    cursor: pointer;
    transition: all 0.35s;

}

input[type="submit"]:hover{
    background-color: #b2b2b2;
    color:#222;

}

.contatos .container{
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background: transparent;
    padding: 20px 0;
}
